{% extends "base.html" %}

{% load i18n %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card login-card">
                <div class="card-header text-center">
                    <h3>{% trans "Sign In" %}</h3>
                </div>
                <div class="card-body">
                    <div class="social-login mb-3">
                        <a href="{% provider_login_url 'google' %}" class="btn btn-outline-primary w-100 mb-2">{% trans "Log in with Google" %}</a>
                    </div>
                    <p class="text-center">{% trans "Welcome back to the code|star blog. To leave a comment or like a post, please log in. If you have not created an account yet, then" %} <a class="link" href="{% url 'account_signup' %}">{% trans "sign up" %}</a> {% trans "first." %}</p>
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-signup w-100" type="submit">{% trans "Sign In" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
