{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card signup-card">
                <div class="card-header text-center">
                    <h3>{% trans "Sign Up" %}</h3>
                </div>
                <div class="card-body">
                    <p class="text-center">{% blocktrans %}Welcome to the code|star blog. Do you already have an account? Then please <a class="link" href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.email.id_for_label }}" class="form-label">{% trans "Email" %}</label>
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.username.id_for_label }}" class="form-label">{% trans "Username" %}</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.password1.id_for_label }}" class="form-label">{% trans "Password" %}</label>
                            {{ form.password1 }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.password2.id_for_label }}" class="form-label">{% trans "Password (again)" %}</label>
                            {{ form.password2 }}
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-signup w-100" type="submit">{% trans "Sign Up" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
