{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0 align-items-center">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <!-- Uncomment this section  to include the featured image in the masthead -->
            <!--
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" class="img-fluid rounded">
                {% else %}
                <img src="{{ post.featured_image.url }}" class="img-fluid rounded">
                {% endif %}
            </div>
            -->
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col card mb-4 mt-3">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1 text-center">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fas fa-heart text-danger"></i> Unlike
                                </button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="far fa-heart text-secondary"></i> Like
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                        </strong>
                        <span class="text-secondary">{{ post.number_of_likes }}</span>
                    </div>
                    <div class="col-1 text-center">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i> {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3 class="card-header bg-light">Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments mb-3">
                    <p class="font-weight-bold mb-1">{{ comment.name }}
                        <span class="text-muted font-weight-normal"> {{ comment.created_on }} </span> wrote:
                    </p>
                    <p class="mb-0">{{ comment.body | linebreaks }}</p>
                    {% if user.is_authenticated and user == comment.user %}
                    <form class="d-inline" action="{% url 'delete_comment' comment.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3 class="card-header bg-light mb-3">Leave a comment:</h3>
                <p>Posting as: <strong>{{ user.username }}</strong></p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="button" class="btn btn-signup btn-lg btn-primary" onclick="handleCommentFormSubmit()">Submit</button>
                    <div id="error-message" class="alert alert-danger mt-3" style="display: none;" role="alert">
                        Please enter a comment before submitting.
                    </div>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    function handleCommentFormSubmit() {
        var commentInput = document.querySelector('textarea[name="body"]');
        var errorMessage = document.getElementById('error-message');
        if (commentInput && !commentInput.value.trim()) {
            errorMessage.style.display = 'block';
        } else {
            errorMessage.style.display = 'none';
            document.getElementById('commentForm').submit();
        }
    }
</script>

{% endblock content %}
